<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vue Basic</title>
  <link rel="stylesheet" href="theme.css"/>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container" id="app">
  <div class="card">
    <h1>{{ title }}</h1>
    <div class="form-control">
      <label>
        <span v-if="inputValue.length > 0">Длинна вашей заметки: {{inputValue.length}}</span>
        <span v-else>Введите заметку не длиннее 30 символов.</span>
        <input
            type="text"
            :placeholder="placeholderString"
            v-model="inputValue"
            @keypress.enter="addNewNotes"
        />
      </label>
    </div>
    <button class="btn" @click="addNewNotes">Add</button>
    <hr/>
    <ul class="list" v-if="notes.length !== 0">
      <li class="list-item" v-for="(note, idx) in notes" :key="note">
        {{ idx + 1}}. {{ note }}
        <button class="btn danger" @click="removeNewNotes(idx)">delete</button>
      </li>
      <hr>
      <li>
        <strong>Общее количество заметок: {{notes.length}}</strong>
      </li>

    </ul>
    <h2 v-else>Заметок пока нету, добавьте первую заметку!</h2>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>
